<div class="tabmenu">
    <ul>			
        <li class="current">
			<a href="@Url.Action("Index", "Home")" class="buscar_curr"><span>CURRÍCULOS</span></a>            
        </li>
		<li><a href="@Url.Action("DadosPessoais", "Cadastro")" class="curriculos"><span>CADASTRAR CURRÍCULO</span></a> </li>
    </ul>
</div>